nav {
    background-color: #B0E0E6; /* Baby Blue */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav a {
    color: #000; /* Black */
    text-decoration: none;
    font-size: 20px; /* Increase font size */
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%; /* Set width to 100% */
    text-align: center; /* Center the items horizontally */
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a:hover {
    color: #B0E0E6; /* Baby Blue */
    background-color: #fff;
    transition: color 0.2s ease-in-out;
  }
  
  /* Add these styles to change color for external links */
  nav a[href^="http://"], nav a[href^="https://"] {
    color: #000;
  }
  
  nav a[href^="http://"]:hover, nav a[href^="https://"]:hover {
    color: #B0E0E6;
  }
  